<div class="container">
    <h1 class="branding-header">Settings</h1>

    <i *ngIf="isLoading" class="fin-api_loading"></i>

    <button (click)="showUserSettings = !showUserSettings" class="btn btn-danger">Edit user</button>

    <div *ngIf="showUserSettings">
        <h3>User settings</h3>

        <div class="user-edit">
            <p>Username: {{user.username}}</p>
            <p>Email: {{user.email}}</p>
            <p>FirstName: {{user.firstName}}</p>
            <p>SecondName: {{user.secondName}}</p>
        </div>
    </div>
</div>