<header class="head">
    <div class="brand" #brand>
        Finances
    </div>

    <nav class="head__navigation">
        <button class="show-menu-btn fin-btn" (click)="trigMenu(menu, menuBtn, menuIcn, brand)" #menuBtn>
            <i class="glyphicon glyphicon-menu-hamburger" #menuIcn></i>
        </button>
    </nav>

    <nav class="slideout-menu" #menu>
        <div id="menu__account" class="menu__divider">
            <div class="user-info">
                <i class="user-info__icon glyphicon glyphicon-user"></i>
                <p class="user-info__name">@User.Identity.Name</p>
            </div>
            <ul class="menu__utility">
                <li>
                    <i class="glyphicon glyphicon-lock"></i>
                    <a asp-controller="Auth" asp-action="Logout" class="logout-link" title="Login">Logout</a>
                </li>
            </ul>
        </div>
        <ul id="menu__content" class="menu__utility menu__divider">
            <li><a (click)="navigate('Dashboard')">Dashboard</a></li>
            <li><a (click)="navigate('Transactions')">Transactions</a></li>
            <li><a (click)="navigate('Settings')">Settings</a></li>
            <li><a (click)="navigate('About')">About</a></li>
        </ul>
    </nav>
</header>