<div class="header-left">
    <button class="header__menu-btn fin-btn"><i class="glyphicon glyphicon-list-alt"></i></button>
</div>

<header class="header-right">
    <div class="header__main">
        <h2 class="header__heading">Finances</h2>
        <span class="header__current-page-name">Status</span>
    </div>
</header>