<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" asp-href-include="~/css/site.css">

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
</head>

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
