<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Css -->
    <link rel="stylesheet" asp-href-include="~/css/bootstrap.css">
    <link rel="stylesheet" asp-href-include="~/css/site.css">
    <!-- Js -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/system.js"></script>
    <script src="~/js/rx.js"></script>
    <script src="~/js/typescript.js"></script>
    <script src="~/js/angular2/angular2.dev.js"></script>
    <script src="~/js/angular2/angular2-polyfills.js"></script>
    <script src="~/js/angular2/http.dev.js"></script>
    <script src="~/js/angular2/router.dev.js"></script>

    <!-- Configure SystemJS -->
    <script>
        System.config({
            packages: {
                app: {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('app/boot')
              .then(null, console.error.bind(console));
    </script>
</head>
<base href="/" />
<body>
    @RenderBody()
</body>
</html>
