<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Css -->
    <link rel="stylesheet" asp-href-include="~/css/bootstrap.css">
    <link rel="stylesheet" asp-href-include="~/css/site.css">

    <!-- Js -->
    <script src="~/js/system.js"></script>
    <script src="~/js/rx.js"></script>
    <script src="~/js/angular2/angular2.dev.js"></script>
    <script src="~/js/angular2/angular2-polyfills.js"></script>
    <script src="~/js/angular2/http.dev.js"></script>
    <script src="~/js/angular2/router.dev.js"></script>
    <script src="~/js/sysConfig.js"></script>


    <script src="~/js/vendors/modernizr-custom.js"></script>
    <script src="~/js/vendors/jquery.js"></script>
    <script src="~/js/vendors/bootstrap.js"></script>
    <script src="~/js/vendors/classie.js"></script>
    <script src="~/js/vendors/dummydata.js"></script>
    <script src="~/js/vendors/menu.js"></script>
</head>
<base href="/" />
<body>
    @RenderBody()

    @RenderSection("Scripts", false);
</body>
</html>
