.auth-body {
    background-image: url('../img/auth-layout.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
}

.auth-container {
    position: relative;
    top: 25vh;
}

.auth-pull-right {
    position: absolute;
    right: 43px;
}