body {
    background-image: url('http://www.women.anz.com/content/dam/Women/Images/ArticleHero/img-finance-apps-hero.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
}

.auth-container {
    position: relative;
    top: 25vh;
}