body {
	font-family: 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	overflow: hidden;
    overflow-y: scroll;
	margin: 0;
    position: relative;
	color: #111;
    background: #fefefe!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.fin-btn {
    border: 0;
    background: none;
}

.fin-btn:focus {
  outline: none;
}

.fin-loading-txt {
    margin: 10px;
    font-weight: 900;
}

.fin-loading-txt:after {
    content: ' component is loading';
    font-weight: 600;
}

.fin-loading-icon {
    background: url(../img/loading.svg);
    display: inline-block;
    width: 40px;
    height: 10px;
}

/*-------------------------------------------------------*/

/*MEDIA QUERIES*/

/*-------------------------------------------------------*/

@media(max-width:767px){
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}