<div class="container">
    <h1 class="branding-header">Dashboard</h1>

    <p class="alert alert-warning">Here you can see your expances and incomes status</p>

    <div class="period-container">
        <span>Choose period: </span>
        <div class="btn-group">
            <button (click)="onShowPanel('day')" type="button" class="btn btn-danger">Day view</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onShowPanel('week')">Week view</a></li>
                <li><a (click)="onShowPanel('month')">Month view</a></li>
                <li><a (click)="onShowPanel('year')">Year view</a></li>
            </ul>
        </div>
    </div>

    <div *ngIf="showDayView" class="panel panel-default dashboard-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Day view</h3>
        </div>
        <div class="panel-body">
            <p>Today: {{_dateServ.getDayName(choosenStartDate)}} {{choosenStartDate | date}}</p>

            <p>Daily max: </p>
            <p>This day sum: </p>
            <br>
            <p>Today's expances:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="alert alert-warning" colspan="5" *ngIf="currentExpances.length < 1">No expances this day!</td>
                    </tr>
                    <tr class="transactions-table__row" *ngFor="#expance of currentExpances">
                        <td>{{expance.title}}</td>
                        <td>{{expance.amount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="showWeekView" class="panel panel-default dashboard-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Week view</h3>
        </div>
        <div class="panel-body">
            <base-chart class="dashboard-chart"
                        [data]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [series]="barChartSeries"
                        [legend]="barChartLegend"
                        [series]="barChartSeries"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
            </base-chart>
        </div>
    </div>

    <div *ngIf="showMonthView" class="panel panel-default dashboard-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Month view</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>

    <div *ngIf="showYearView" class="panel panel-default dashboard-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Year view</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>