<div class="container">
    <h1 class="branding-header">About</h1>

    <p class="well">
        Bachalor degree, Vladyslav Verenich 2016
    </p>

    <h2 class="about-section-heading">Technologies used:</h2>

    <div class="technologies-section">
        
        <div class="media">
            <div class="media-left">
                <a href="https://en.wikipedia.org/wiki/ASP.NET_Core">
                    <img class="media-object tech-img img-thumbnail" src="/img/aspVnext.png">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">ASP.NET Core 1.0</h4>
                <p>Next gen Microsoft backend technology</p>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <a href="https://en.wikipedia.org/wiki/Entity_Framework">
                    <img class="media-object tech-img img-thumbnail" src="/img/entityFramework.png">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Entity Framework Core 1.0</h4>
                <p>Next gen Microsoft ORM</p>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <a href="https://angular.io/">
                    <img class="media-object tech-img img-thumbnail" src="/img/angular2.png">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Angular 2</h4>
                <p>Component-based frontend MVC framework</p>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <a href="http://www.asp.net/identity">
                    <img class="media-object tech-img img-thumbnail" src="/img/ASPIdentity.png">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Identity framework 3</h4>
                <p>Component-based frontend MVC framework</p>
            </div>
        </div>
    </div>

    <h2 class="about-section-heading">Design patterns used:</h2>
    <p class="well">TBI</p>
</div>