.auth-body {
  background-image: url("../img/auth-layout.jpg");
  background-repeat: no-repeat;
  overflow: hidden; }

.auth-container {
  position: relative;
  top: 25vh; }

.auth-pull-right {
  position: absolute;
  right: 43px; }

.auth-form {
  padding: 5px 20px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); }

.auth-form__error {
  padding: 5px;
  margin-top: 10px;
  background-color: #333; }
