.header-left {
    line-height: 100px;
    text-align: center;
    left: 0;
    width: 300px;
}


.header-right {
    left: 300px;
    width: calc(100vw - 300px);
}

.header-right,
.header-left {
    position: fixed;
    top: 0;
    height: 100px;
    background: #2D5E88;
    color: #fff;
}

.header__menu-btn {
    display: inline-block;
    font-size: 40px;
}

.header__heading {
    display: inline-block;

}