<div class="container">
    <h1 class="branding-header">Plan</h1>

<p>Just start add tags with month limits</p>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Month Limit</th>
            <th>Show on daily stats</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="alert alert-warning" colspan="5" *ngIf="tags.length < 1">No tags added yet!</td>
        </tr>
        <tr class="transactions-table__row" *ngFor="#tag of tags">
            <td>{{tag.title}}</td>
            <td>{{tag.monthLimit}}</td>
            <td><input type="checkbox" class="form-control" value="{{tag.showOnDailyStats}}" disabled="true"></td>
            <td (click)="onRemoveTag(tag.id)"><button class="btn btn-danger">Remove</button> </td>
        </tr>
        <form *ngIf="showAddForm" (ngSubmit)="onAddTagSubmit(f)" #f="ngForm">
        <tr>

                <td><input ngControl="title" type="text" placeholder="Title" class="form-control" required/></td>
                <td><input ngControl="monthLimit" type="number" placeholder="Month Limit" value="0" class="form-control"/></td>
                <td><input ngControl="showOnDailyStats" type="checkbox" class="form-control">Show on daily stats</td>
                <td><button type="submit" class="btn btn-success" [disabled]="!f.valid">Ok</button></td>
        </tr>
        </form>
        </tbody>
    </table>

    <button *ngIf="!showAddForm" (click)="showAddForm = true" class="btn btn-success">Add</button>
</div>

