<div class="container">
    <h1 class="branding-header">Transactions</h1>

    <i *ngIf="isLoading" class="fin-api_loading"></i>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Amount</th>
                <th>Tag</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="alert alert-warning" colspan="5" *ngIf="vm.transactions.length < 1">No transactions added yet!</td>
        </tr>
        <tr class="transactions-table__row" *ngFor="#transaction of getCurrentPageItems()">
            <td>{{transaction.creationDate | date}}</td>
            <td>{{transaction.title}}</td>
            <td [class.row_red]="isOutTrans(transaction.transactionType)" [class.row_green]="!isOutTrans(transaction.transactionType)">{{transaction.amount}}</td>
            <td *ngIf="!transaction.showAddTag">
                <span *ngFor="#tag of transaction.tags">{{tag.title}}</span>
                <button (click)="showAddTag(transaction)" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></button>
            </td>
            <td *ngIf="transaction.showAddTag">
                <input #tag id="tag" placeholder="tag" type="text" class="form-control tag-input" [(ngModel)]=query (keyup)=filter()>
                <span>
                    <button (click)="addTagToTransaction(transaction, tag.value)" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></button>
                </span>
                <div class="suggestions" *ngIf="filteredList.length > 0">
                    <ul *ngFor="#tag of filteredList" >
                        <li>
                            <a (click)="select(tag)">{{tag.title}}</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>{{getTransactionTypeStr(transaction.transactionType)}}</td>
            <td (click)="onRemoveTransaction(transaction.id)"><button class="btn btn-danger">Remove</button> </td>
        </tr>

        <tr *ngIf="showAddForm">
            <td>{{getDate() | date}}</td>
            <td><input #titleIn type="text" placeholder="Title" class="form-control"/></td>
            <td><input #amountIn type="number" placeholder="Amount" class="form-control"/></td>
            <td>
                <select #typeIn class="form-control">
                <option *ngFor="#type of transactionTypes" value="{{type.value}}">{{type.name}}</option>
            </select>
            </td>
            <td><button (click)="onAddOk(titleIn.value, amountIn.value, typeIn.value)" class="btn btn-success">Ok</button></td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul class="pagination pagination-lg">
            <li [class.disabled]="currentPage <= 1">
                <a (click)="currentPage = currentPage - 1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li [class.active]="currentPage == page" *ngFor="#page of getPagesArray()"><a (click)="currentPage = page">{{page}}</a></li>
            <li [class.disabled]="currentPage === getPageAmount()">
                <a (click)="currentPage = currentPage + 1" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <button *ngIf="!showAddForm && !showDropZone" (click)="showAddForm = true" class="btn btn-success">Add</button>
    <button *ngIf="!showAddForm && !showDropZone" (click)="showDropZone = true" class="btn btn-success">Drop file</button>
    <button *ngIf="showAddForm || showDropZone" (click)="showAddForm = false; showDropZone = flase" class="btn btn-info">Exit</button>





    <div *ngIf="showDropZone" class="row">

        <div class="col-md-6">
            <div class="dropzone" (click)="uploadInput.click()"
                 ng2-file-drop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (file-over)="fileOverBase($event)"
                 [uploader]="uploader">
                <i class="glyphicon glyphicon-floppy-open dropzone__icon"></i>
                <span class="dropzone__txt">Drag files or click to upload...</span>
            </div>

            <input class="hide" type="file" ng2-file-select [uploader]="uploader" multiple  #uploadInput/>

        </div>

        <div class="col-md-6" style="margin-bottom: 40px">

            <h3>Upload queue</h3>
            <p>Queue length: </p>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="#item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
        </div>
        </div>
    </div>