.dashboard-chart {
    display: block;
    width: 1000px;
    height: 500px;
}

.add-form__c-box {
    vertical-align: middle;
    margin-right: 10px !important;
    width: 20px;
    height: 20px;
}

.table__c-box {
    width: 20px;
    height: 20px;
}

.dashboard-panel {
    margin-top: 20px;
}
