.head {
    width: 100%;
    clear: both;
    height: 80px;
    padding: 1em 2em;
    color: #222;
}

.head__navigation {
    display: block;
    float: left;
}

.show-menu-btn {
    transition: none;
    font-size: 26px;
    width: 80px;
    height: 80px;

    &:hover {
        color: #fefefe;
        background: #222;
    }
}

.brand {
    z-index: 9999999;
    font-size: 26px;
    text-transform: uppercase;
    position: absolute;
    top: 92vh;
    left: 2vw;
    color: rgba(25,25,25,.8);
}

.brand_menu-opened {
    color: rgba(255, 255, 255, 0.7);
    left: calc(150px - 65px);
}

.slideout-menu {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    z-index: 999999;
    width: 300px;
    background-color: #222;
    color: #fefefe;
    right: auto;
    text-align: left;

    ul {
        list-style-type: none;
        padding: 1em 0;
        margin: 0;
        text-transform: uppercase;
        width: 100%;

        li {
            margin: 0 1em;
            display: list-item;

            i {
                color: rgba(255,255,255,0.7);
            }

            a {
                color: rgba(255,255,255,0.7);
                padding: 1em 1.5em;
                display: block;
                text-decoration: none;

                &:hover {
                    color: #fefefe;
                }
            }
        }
    }
}

.user-info {
    color: #fefefe;
    text-align: center;
    padding-top: 20px;

    i {
        font-size: 36px;
    }
}

.logout-link {
    display: inline-block !important;
    position: relative;
    right: 15px;
    width: 85%;
}

.menu__divider {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.slideout-menu__open {
    left: 0;
}

.menu-btn_toggle {
    position: absolute;
    zoom: 0.7;
    left: 348px;
    top: 0;
    color: #fefefe;
    z-index: 9999999;

    &:hover {
        color: rgba(255,255,255,0.7);
    }
}
